@model List<WebApplication3.Models.v4.BaseObjectV4>
@{
    ViewData["Title"] = "Base data";
}

<h1>Base data types table</h1>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var baseObject in Model)
            {
                <tr>
                    <td>@baseObject.Name</td>
                    <td>@baseObject.Type</td>
                    <td>@Html.ActionLink("Detail", "SpecificData", "Visitor", new { name = baseObject.Name, type = baseObject.Type })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

