@model WebApplication3.Models.v4.BtdbObject
@{
    ViewData["Title"] = "Base data";
}

<div>
    <a href="@Url.Action("GetJson", "Table", new {})">Show Json data</a>
</div>

<div>
    <a href="@Url.Action("DownloadJson", "Table", new {})">Download</a>
</div>


