@model List<BTDBPart.Models.BaseObject>
@{
    ViewData["Title"] = "Base data";
}

<h1>Base data types table</h1>

<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var baseObject in Model)
        {
            <tr>
                <td>@baseObject.Name</td>
                <td>@baseObject.Type</td>
                <td>
                    <button>@Html.ActionLink("Detail", "SpecificData", "Data", new {name = baseObject.Name, type = baseObject.Type})</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>